:root{
  --dim: 200px;
}
body{
  background: url('../img/cloud.svg') center repeat-x,
              url('../img/cloud.svg') center repeat-x,
              url('../img/cloud.svg') center repeat-x;
  background-size: 800px, 600px, 400px;
  background-position-y: -250px, -120px, 0px;
  animation: 20s clouds linear infinite;
  position: relative;
}

@keyframes clouds{
  from{
    background-position-x: 0,200px,300px;
  }
  to{
    background-position-x: 2400px,1400px,1100px;
  }
}

main{
  max-width: 1150px;
  width: auto;
  margin: 0 auto;
  margin-bottom: 50px;
}

footer{
  position: fixed;
  display: block;
  padding: 10px;
  color: white;
  background-color: #222;
  bottom: 0;
  text-align: center;
  width: 100%;
}

figure{
  margin:0;
  display: grid;
  grid-template-rows: calc(100% - 25px) 25px;
  position: relative;
  border-radius: 10px;
  box-shadow: 3px 3px 6px rgba(185, 120, 0, 0.404);
  padding: 3px;
}

#WeatherContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--dim));
  grid-auto-rows: var(--dim);
  justify-content: space-around;
  gap: 15px;
}

.weather.small{
  width: var(--dim);
  height: var(--dim);
  overflow: hidden;
}

.weather.spin:before {
  display: block;
  position: absolute;
  content: '';
  background: url('../img/loading.svg') center no-repeat;
  background-size: calc(var(--dim)/2);
  backdrop-filter: blur(30px);
  width: var(--dim);
  height: var(--dim);
  z-index: 99;
}

.weather figcaption{
  color: #222;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding:3px;
}

.forecast.inside,
.current.inside{
  position: relative;
  background: #e5eeff;
  border: 1px solid #7774;
  border-radius: 10px;
  color: #777;
  gap:10px;
  justify-items: center;
  align-content: space-evenly;
}


.current.inside{
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "head head" "icon temp" "other other";
}

.forecast.inside
{
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "head head head head" "icon temp other other";
}

.weather.small .forecast.inside, .weather.large .current.inside{display: none;}
.weather.small .current.inside, .weather.large .forecast.inside{display: grid;}

.inside .conditions{
  grid-area: head;
  font-size: 25px;
}

.inside .icon{
  grid-area: icon;
  font-size: 50px;
}

.inside .temperature {
  grid-area: temp;
  font-size: 50px;
}

.inside .other {
  grid-area: other;
  font-size: 20px;
}

.delete{
  position: absolute;
  top: 5px; 
  right: 5px;
  width: 20px;
  height: 20px;
  background: url('../img/remove.svg') center no-repeat;
  background-size: contain;
  z-index: 99;
}

.weather.large{
  grid-row: 1 / span 2;
  grid-column: 1/ span 2;
}

.daily {
  grid-column: 1 / -1;
  display: flex;
  flex-flow: row nowrap;
  gap:5px;
  width: 100%;
  height: fit-content;
  padding-bottom: 6px;
  cursor: grab;
  overflow: auto;
  font-size: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.daily::-webkit-scrollbar {
  display: none;
}



.day{
  flex: none;
  width: 75px;
  height: 75px;
  border: 1px solid #fdccb6;
  position: relative;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #ccc;
  background: #fff6f1;
}

span.high,span.low{
  position: absolute;
  display:block;
  font-weight: bold;
}

span.high{
  color: darkred;
  top:3px;
  left:5px;
}

span.low{
  color: darkblue;
  bottom:3px;
  right:5px;
}

.day .icon{
  position: absolute;
  top: 3px;
  right: 0;
  font-size: 30px;
}

.day .weekday{
  position: absolute;
  left: 5px;
  bottom: 3px;
  font-size: 15px;
}

.add.box{
  padding: 30px 15px 0;
  text-align: center;
}

.add.box *{
  font-size: 20px;
  padding: 10px;
  margin: 0 20px;
}

.add.box input{
  width: 50%;
}