:root{
  --dim: 200px;
}
main{
  max-width: 950px;
}

figure{
  margin:0;
  display: grid;
  grid-template-rows: calc(100% - 20px) 20px;

}

#WeatherContainer {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, var(--dim));
  grid-auto-rows: var(--dim);
  border: 1px solid black;
  padding: 10px;
}

.weather.small{
  width: var(--dim);
  height: var(--dim);
  overflow: hidden;
}

.weather.spin:before {
  display: block;
  position: absolute;
  content: '';
  border: 1px solid #777;
  background: #fff url('../img/loading.svg') center no-repeat;
  background-size: calc(var(--dim)/2);
  width: var(--dim);
  height: var(--dim);
  z-index: 99;
}

.weather figcaption{
  color: #222;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.weather.large .forecast.inside,
.weather.small .current.inside{
  position: relative;
  background: #e5eeff;
  border: 1px solid #777;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "head head" "icon temp" "other other";
  color: #777;
}

.weather.small .forecast.inside,
.weather.large .current.inside{display: none;}

.inside .conditions{
  grid-area: head;
  font-size: 25px;
}

.inside .icon{
  grid-area: icon;
  font-size: 50px;
}

.inside .temperature {
  grid-area: temp;
  font-size: 50px;
}

.inside .other {
  grid-area: other;
  font-size: 20px;
}

.inside .delete{
  position: absolute;
  top: 5px; 
  right: 5px;
  width: 20px;
  height: 20px;
  background: url('../img/remove.svg') center no-repeat;
  background-size: contain;
}

.weather.large{
  grid-row: 1 / span 2;
  grid-column: 1/ span 2;
}